    <!-- About Section Start -->
    {%load static%}
    <section id="about" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
              <img class="img-fluid" src="{{pessoa.foto}}" alt="">
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <h3>Hi Guys!</h3>
              <p>Est diam venenatis arcu lacus ad. Duis quis eros. Cursus et rutrum eleifend sollicitudin lacinia justo id turpis. Nec convallis integer. Odio eget duis. Nulla aenean et. Blandit varius sollicitudin. Pellentesque leo primis neque urna magnis. Elit ut sollicitudin. Et est a nam dolores eget itaque sagittis et parturient duis est eleifend sociis rutrum odio viverra integer.</p>
              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Nome </span> <span class="pro-detail">{{pessoa.nome}}</span></li>
                  <li><span class="pro-title"> Idade </span> <span class="pro-detail">{{pessoa.idade}}</span></li>
                  <li><span class="pro-title"> Experiência </span> <span class="pro-detail">{{pessoa.tempoExperiencia}}</span></li>
                  <li><span class="pro-title"> País </span> <span class="pro-detail">{{pessoa.pais}}</span></li>
                  <li><span class="pro-title"> Estado </span> <span class="pro-detail">{{pessoa.estado}}</span></li>
                  <li><span class="pro-title"> E-mail </span> <span class="pro-detail">{{pessoa.email}}</span></li>
                </ul>
              </div>
              <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
              <a href="#" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About Section End -->
